name: JVM SDK

on:
  push:
    paths:
      - "jvm/**"
      - ".github/workflows/jvm.yml"
      - "codegen/openapi.json"

jobs:
  build:
    name: Build
    if: ${{ startsWith(github.ref, 'refs/heads') || startsWith(github.ref, 'refs/tags/jvm-v') }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./jvm
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "9.0.0" # cannot set working directory
      - name: Build
        run: gradle build
        env:
          PORTONE_API_SECRET: ${{ secrets.PORTONE_API_SECRET }}
  docs:
    name: Publish API reference
    needs: [build]
    if: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/jvm-v') }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./jvm
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Run dokka
        run: gradle dokkaGenerateHtml
      - name: Deploy on GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./jvm/lib/build/dokka/html
          destination_dir: jvm
  release:
    name: Release
    needs: [build]
    if: ${{ startsWith(github.ref, 'refs/tags/jvm-v') }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./jvm
    environment:
      name: Maven
      url: https://central.sonatype.com/artifact/io.portone/server-sdk
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Publish package
        run: gradle publishAndReleaseToMavenCentral --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_MAVENCENTRALUSERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_MAVENCENTRALPASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYPASSWORD }}
      - name: Send a Slack notification if a publish happens
        run: |
          export VERSION=$(cut -c '16-' <<< '${{ github.ref }}')
          curl -X POST -H 'Content-type: application/json'\
            --data '{"blocks":[{"type":"section","text":{"type":"mrkdwn","text":"Maven Central에 `io.portone:server-sdk` 버전 *v'"$VERSION"'* 가 배포되었습니다 :rocket:"}},{"type":"actions","elements":[{"type":"button","text":{"type":"plain_text","text":"Maven 페이지 보기"},"value":"show_maven_page","url":"https://central.sonatype.com/artifact/io.portone/server-sdk/'"$VERSION"'","action_id":"show_maven_page"}]}]}'\
            ${{ secrets.SLACK_WEBHOOK_URL }}
